*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(128, 128, 128, 0.048);
}
.year {
    padding: 1% 2%;
}
table {
    margin: 0 auto;
    border-spacing: 0;
    width: 90vw;
    background-color: #474569;
}
table , thead , tr ,td ,
table {
    color: white;
    border: 1px solid;
}

thead {
    font-weight: 700;
    background-color: #2b2941;

}

td{
    color: white;
    text-align: center;
    padding: 10px 0px;
}
.box {
    
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.container{
    display: flex;
    width: 100%;
}
.chercher{
    color: white; 
    background-color: rgb(70, 73, 255);
    width: 50px;
    height: 25px;
    transition: 500ms;
}
.chercher:hover{
    background-color: rgba(128, 128, 128, 0.288);
}
aside{
    width: 4%;
    height: 100vh;
    padding:10px 0px 0 5px ;
}
.buttons{
    height: 80%;
    background-color: rgb(71, 69, 105) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    list-style: none;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}
.rounded-logo{
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 30px;   
    border-radius: 50%;
    color: white;
}
.delete-button{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgb(230, 88, 88);
    border-radius: 10px;

}
.delete-button > div{
    background-color: inherit;
    color: white;
}
